/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/Gemfile.lock
/pkg/
/spec/reports/
/spec/support/dummy_rails_app/log/
/spec/support/dummy_rails_app/tmp/
/spec/support/dummy_rails_app/db/*.db
/tmp/
.rspec_status
