name: CI
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - rails: '5.2'
            ruby: 2.6
          - rails: '5.2'
            ruby: 2.7
          - rails: '5.2'
            ruby: 3.0
          - rails: '6.0'
            ruby: 2.6
          - rails: '6.0'
            ruby: 2.7
          - rails: '6.0'
            ruby: 3.0
          - rails: '6.1'
            ruby: 2.6
          - rails: '6.1'
            ruby: 2.7
          - rails: '6.1'
            ruby: 3.0
    name: Rails ${{ matrix.rails }} on Ruby ${{ matrix.ruby }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Ruby
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Run tests
        env:
          RAILS_VERSION: ${{ matrix.rails }}
        run: bundle exec rake
